* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: #a7bfe9;
    font-family: 'Dosis';
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(197, 197, 96), rgb(133, 189, 218), rgb(244, 141, 141));
    background-repeat: no-repeat;
}

/* h2 {

    font: 700 3em sans-serif;
    color: #09234eaa;
    text-align: center;
} */

/* h4 {
    font: 200 2em sans-serif;
    color: #ffffff;
    text-align: center;

} */

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 70px);

    grid-template-rows: repeat(7, 70px);

    grid-gap: 4px;

    margin: auto;
    max-width: 900px;
    justify-content: center;
    box-sizing: border-box;
}

.periodic-element {
    padding: 4.5px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.2s ease;

}

.periodic-element .periodic-element-inner {
    background: #182733;
    padding: 10px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    transition: inherit;
}

.periodic-element .title-box {
    font: 700 20px/1.3px sans-serif;

    margin-top: 15px;
    margin-left: 0.2px;

}

.periodic-element .description {
    font: 500 9px sans-serif;
    margin-top: 18px;
    text-align: center;
}

.periodic-element:after {
    z-index: 10;
    content: attr(data-description);
    background-color: #f9f8f7;
    color: #000000;
    width: 80px;
    position: absolute;
    top: 0%;
    opacity: 0;

    transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
    /* height: auto; */
    font-size: 8px;
    line-height: 1.4;
    padding: 5px;
    margin: 0px 0px 0px -19px;
    border-radius: 6px;
    text-align: center;
}

.periodic-element:hover:after {
    top: 120%;
    left: 10px;
    opacity: 1;
}

.periodic-element:hover {
    transform: scale(2.12);
    z-index: 10;
}

.periodic-element:hover .periodic-element-inner {
    background: transparent;
}

.periodic-element:hover .title-box,
.periodic-element:hover .description,
.periodic-element:hover .atomic-number {
    -webkit-text-fill-color: #222;
}

.periodic-element .title-box,
.periodic-element-inner .description {
    -webkit-text-fill-color: #fff7f7b1;
}



.alkali-metals {
    background: linear-gradient(to bottom right, rgb(126, 232, 129) 0%, #ffffff 100%);
    opacity: 0.1;
}

.Metalloids {
    background: linear-gradient(to bottom right, rgb(124, 100, 39) 0%, #ffffff 100%);
    opacity: 0.1;
}

.Actinides {
    background: linear-gradient(to bottom right, rgb(154, 104, 28) 0%, rgb(209, 201, 170)100%);
    opacity: 0.1;
}

.alkaline-earth-metals {
    background: linear-gradient(to bottom right, rgb(189, 41, 51) 0%, rgb(255, 253, 247)100%);
    opacity: 0.1;
}

.Unknown-properties {
    background: linear-gradient(to bottom right, rgb(126, 189, 208) 0%, rgb(255, 253, 247)100%);
    opacity: 0.1;
}

.reactive-non-metals {
    background: linear-gradient(to bottom right, rgb(0, 0, 0) 0%, rgb(255, 253, 247)100%) !important;
    opacity: 0.1;
}

.reactive-non-metals:hover {
    background: linear-gradient(to bottom right, rgb(58, 46, 172) 0%, rgb(255, 253, 247)100%);
    opacity: 0.1;
}

.Transition-metals {
    background: linear-gradient(to bottom right, rgb(104, 52, 172) 0%, rgb(255, 253, 247)100%);
    opacity: 0.1;
}

.Noble-gases {
    background: linear-gradient(to bottom right, rgb(178, 56, 143) 0%, rgb(255, 253, 247)100%);
    opacity: 1;
}

.Post-transition {
    background: linear-gradient(to bottom right, rgb(25, 109, 7) 0%, rgb(255, 253, 247)100%);
    opacity: 0.1;
}

.Lanthanides {
    background: linear-gradient(to bottom right, rgb(7, 63, 114) 0%, rgb(255, 253, 247)100%);
    opacity: 0.1;
}

.empty-box-1 {
    grid-column: 2/span 16;
    grid-row: 1
}

.empty-box-2 {
    grid-column: 3/span 10;
    grid-row: 2
}

.empty-box-3 {
    grid-column: 3/span 10;
    grid-row: 3
}

.empty-box-4 {
    grid-column: 3/span 1;
    grid-row: 6
}

.empty-box-5 {
    grid-column: 3/span 1;
    grid-row: 7
}

.empty-box-6 {
    grid-column: 1/span 3;
    grid-row: 1
}

.empty-box-7 {
    grid-column: 1/span 3;
    grid-row: 2
}

.atomic-number {
    left: 0;
    top: 0;
    color: white;
    position: absolute;
    font-size: 13px !important;
    margin-top: 10px !important;
    margin-left: 3px !important;
    z-index: 50;
    text-indent: 2.5px;
    letter-spacing: -1px;
}

.periodic-element-inner {
    text-align: center;
}

.center {
    margin-left: -7px !important;
}

.center2 {
    margin-left: -10px !important;
}

.center3 {
    margin-left: -14px !important;
}

.first-div {
    margin-bottom: 80px;
}

.header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    background: #333;
    position: sticky;
    top: 0;
    z-index: 2;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 25px;

}

li {
    margin-right: 20px;
    color: #fff;
}

img {
    width: 50px;
    height: 50px;
    padding: 9px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #fff;
    margin: auto;
    font-size: x-large;

}

a:hover {
    border-bottom: 1.5px solid white;

}

a.current {
    border-bottom: 1.5px solid rgb(245, 83, 24);
}

.header ul ul {
    display: none;
    position: absolute;
    list-style: none;
    right: -10px;

}

.header ul li:hover>ul {
    display: block;
    background: #333;

}

.header ul ul {
    padding: 10px;
}

.header ul ul li {

    padding: 10px;
}

.header {
    margin-bottom: 50px;
}